
$color1: #FB8122;
$color2: #1D2228;
$color3: #E1E2E2;
$color4: #fff;
$color1lg: #723202;

@mixin flexer($dir: row, $justify: center, $items: center) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
  flex-direction: $dir;
}

@mixin hw($width: 100%, $height: fit-content) {
  height: $height;
  width: $width;
}
