@import "./utils";

.h2{
    font-size: 2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    @include flexer();
    padding: 2rem 2rem 1rem;
    background-color: gray;
}

.about{
    height: fit-content;
    width: 100%;
    color: $color3;
    @include flexer();
    padding:  2rem;
    background-color: gray;

    .left{
        height:fit-content;
        width: 50%;

        img{
            height: 85vh;
            object-fit: cover;
            width:85%;
            padding-left: 2rem;
        }
    }

    .right{
        width: 50%;

        .container{
            @include flexer();
            
            .box{
                height: 15vh;
                padding: 1rem;
                background: red;
                margin: 1rem;
                @include flexer(column);
            }
        }
    }
}