@import "./utils";

.achievement {
  height: fit-content;
  padding: 2rem;
  background: #000;
  color: white;
  @include flexer(column);

  .box {
    width: 100%;
    overflow: hidden;
    @include flexer();
    flex-wrap: wrap;
    margin-top: 2rem;
    .container {
      height: 12rem;
      margin: 2rem;
      padding: 0;
      @include flexer(row);
      background: $color3;
      width: 350px;

      .icon {
        width: 40%;
        background: $color1;
        color: $color3;
        position: relative;
        height: 100%;
        right:30px;
        @include flexer();
        border-radius: 0% 12% 100% 59% / 10% 69% 84% 0% ;
        font-size: 2rem;
      }

      .content {
        width: 60%;
        padding: .5rem;
        
        h2{
            font-size: 2rem;
            color: black;
            font-weight: bold;
            margin-bottom: .5rem;
        }
        
        p{
            color: $color2;
            font-size: 1.8rem;

        }
      }
      @media screen  and (max-width: 500px) {
        margin: 2rem 0rem;
      }
    }
  }
  @media screen and (max-width:500px) {
    padding: 2rem 1.2rem;
  }
}
