@import "./utils";

.achievement {
  height: fit-content;
  padding: 2rem;
  background: $color1;
  color: $color2;
  @include flexer(column);

  h1{
    font-family: $ubuntu;
  }

  .box {
    font-family: $fonts;
    width: 100%;
    overflow: hidden;
    @include flexer();
    flex-wrap: wrap;
    margin-top: 2rem;
    .container {
      height: 12rem;
      margin: 2rem;
      padding: 0;
      @include flexer(row);
      background: $color2;
      width: 380px;

      .icon {
        width: 45%;
        background: $color3;
        color: $color2;
        position: relative;
        height: 100%;
        right:30px;
        @include flexer();
        border-radius:0% 50% 91% 25% / 10% 54% 55% 0%   ;
        font-size: 2rem;
      }

      .content {
        width: 60%;
        padding: .5rem;
        
        h2{
            font-size: 2rem;
            color: $color3;
            font-weight: bold;
            margin-bottom: .5rem;
        }
        
        p{
          color: $color3;
            font-size: 1.8rem;
        }
      }
      @media screen  and (max-width: 500px) {
        margin: 2rem 0rem;
      }
    }
  }
  @media screen and (max-width:500px) {
    padding: 2rem 1.2rem;
  }
}
