@import "./utils";

.services {
  height: fit-content;
  width: 100vw;
  @include flexer();
  padding: 2rem;

  .left {
    width: 50%;
    height: 70vh;
    @include flexer(column, center, flex-start);
    padding-right: 2rem;

    .clientsay {
      border-bottom: 3px solid $color1;
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
      font-family: $fonts;
    }

    .h2 {
      color: $color2;
      font-size: 2.5rem;
      font-family: $ubuntu;
      margin-bottom: 0.8rem;
    }

    .p {
      color: $color2;
      font-size: 1.2rem;
      padding: 0 1.5rem 0 0;
      margin: 2rem 0;
      font-family: $fonts;
    }

    .call {
      @include flexer();
      font-family: $fonts;

      .icon {
        height: 50px;
        width: 50px;
        @include flexer();
        background-color: $color3;
        font-size: 1.8rem;
        color: $color2;
        margin-right: 1.2rem;
        transition: all .2s ease-in-out;

        &:hover{
          cursor: pointer;
          background: $color1;
          color: $color3;
        }
      }

      .callcontent {
        .callp {
          font-size: 1.2rem;
        }

        .callh2 {
          font-size: 1.8rem;
          margin-top: 0.2rem;
          transition: all .3s ease-in-out;

          &:hover{
            color: $color1;
            cursor: pointer;
          }
        }
      
      }

   
    }

    .btn {
      margin-top: 2rem;
    }
  }

  .right {
    width: 45%;
    height: 60vh;
    background-image: url("../Images/servimg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .rightcontent {
      color: white;
      width: 100%;
      padding: 2rem;
      height: 100%;
      background: rgba(0, 0, 0, 0.45);
      @include flexer(column);

      .clientimg {
        height: 120px;
        border-radius: 100px;
        width: 120px;
        object-fit: cover;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
        font-family: $fonts;
        margin-bottom: 0.5rem;
      }

      h2 {
        font-weight: bold;
        font-family: $ubuntu;
        margin-bottom: 0.5rem;
        color: $color1;
        font-size: 1.8rem;
      }

      p {
        font-size: 1.3rem;
        font-family: $fonts;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .services {
    @include flexer(column-reverse);

    .right {
      width: 100%;
      height: fit-content;
      margin-bottom: 2rem;
    }

    .left {
      height: fit-content;
      width: 100%;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .services {
    padding: 1rem;
    .left {
      @include flexer(center);

      .p{
        margin: 1rem  0;
      }
      .call {
        .callcontent {
          .callp {
            font-size: 1.1rem;
          }
          .callh2 {
            font-size: 1.2rem;
          }
        }
      }

      .clientsay {
        text-align: center;
      }
      .h2 {
        font-size: 2.2rem;
        text-align: center;
      }
    }
    .right{
      .rightcontent{
        padding: 1rem;
      }
    }
  }
}