@import "./utils";

.services {
  height: fit-content;
  width: 100vw;
  @include flexer();
  padding: 2rem;

  .left {
    width: 50%;
    height: 70vh;
    @include flexer(column,center,flex-start);
    padding-right: 2rem;

    .clientsay{
      border-bottom: 3px solid $color1;
      margin-bottom: 1.2rem;
      font-size: 1.5rem;
    }

    .h2{
      color: $color2;
      font-size: 2.5rem;
      margin-bottom: .8rem;
    }
    
    .p{
      color: $color2;
      text-align: justify;
      font-size: 1.2rem;
      padding: 0 1.5rem 0 0;
      margin: 2rem 0;
    }


    .call{
      @include flexer();

      .icon{
        height: 50px;
        width: 50px;
        @include flexer();
        background-color:$color3;
        font-size: 1.8rem;
        color: $color2;
        margin-right: 1.2rem;
      }

      .callcontent{
        .callp{
          font-size: 1.2rem;
        }

        .callh2{
          font-size: 1.8rem;
          margin-top: .2rem;
        }
      }
    }

    .btn{
      margin-top: 2rem;
    }
  }

  .right {
    width: 45%;
    height: 60vh;
    background-image: url("../Images/servimg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .rightcontent {
      color: white;
      width: 100%;
      padding: 2rem;
      height: 100%;
      background: #ea5a1c74;
      @include flexer(column);

      .clientimg {
        height: 120px;
        border-radius: 100px;
        width: 120px;
        object-fit: cover;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      h2 {
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: $color1;
        font-size: 1.8rem;
      }

      p {
        font-size: 1.3rem;
      }
    }
  }
}
