@import "./utils";

.footer {
  height: fit-content;
  padding: 3rem 4rem;
  width: 100%;
  background-color: darkgrey;
  @include flexer();
  justify-content: space-between;
  flex-wrap: wrap;

  .left1 {
    @include flexer(column);
    align-items: start;
    .img {
      height: 6rem;
      width: 14rem;
      margin: 0.5rem;
    }
    .imgp {
      font-size: 1.2rem;
      margin: 0.5rem;
    }
  }

  .left2 {
    @include flexer(column);
    align-items: start;
    .word {
      font-weight: bold;
      font-size: 1.8rem;
      border-bottom: 3px solid $color1;
      margin: 0.5rem;
    }
    .leftp {
      width: 20rem;
      margin: 0.5rem;
      font-size: 1.2rem;
    }
    
    .subscribe{
        @include flexer(row);
        margin: 0.5rem;

        input{
            all: unset;
        }
    }
  }
}
