@import "./utils";

.footer{
    height: fit-content;
    padding: 2rem;
    width: 100%;
    background-color: darkgrey;

    .left1{
        .img{
            height: 5rem;
            width: 10rem;
        }
    }
}