@import "./utils";

.header {
  height: 150px;
  width: 100%;
  background: black;
  color: $color4;

  .upperheader {
    width: 100%;
    padding: 1rem 4rem;
    @include flexer(row, space-evenly);

    .img {
      height: 4rem;
      width: 8rem;
    }

    .customer {
      @include flexer(row, space-evenly);
      gap: 1rem;

      .icon {
        gap: 1rem;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color1lg;
        color: $color1;
        border-radius: 50px;
        width: 50px;

        .headericon {
          font-size: 1.8rem;
        }
      }

      @media screen and (max-width: 980px) {
        display: none;
      }
    }
  }

  .response {
        display: none;
    .responsive {
      background: #000;
      height: 400px;
      display: flex;
      width: 100%;
      text-align: center;
      flex-direction: column;
      position: absolute;
//       left: 40%;
      left: 0%;
      top: 0;

      a {
        color: white;
        text-decoration: none;
        font-size: 2rem;
        margin: 2rem;
      }
    }

    @media screen and (max-width:979px) {
        display: block;
        position:relative;
    }
  }

  .links {
    height: 75px;
    width: 75vw;
    margin: 1rem auto;
    position: relative;
    border-radius: 10px;
    @include flexer(row, space-between);
    padding: 0 3rem;
    background-color: $color3;

    .link a {
      text-decoration: none;
      color: $color2;
      font-size: 1.2rem;
      margin: 0 1.2rem;
      font-weight: bolder;
    }

    @media screen and (max-width: 980px) {
      display: none;
    }
  }
}

@media screen and (max-width: 980px) {
  .header {
    height: 100px;
  }
}

@media screen and (max-width: 979px) {
  .header {
    .upperheader {
      padding: 1rem 1.5rem;
      @include flexer(row, space-between);
    }
  }
}

.bounce {
  -webkit-animation: bounce-in-bck 1.1s both;
  animation: bounce-in-bck 1.1s both;
}

@-webkit-keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
