@import "./utils";

.home {
  background: $color2;
  @include flexer(center, center);
  padding: 0rem 2rem;
  height: 80vh;

  .left {
    width: 70vw;
    @include flexer(column, center, flex-start);
    gap: 1.5rem;
    height: fit-content;

    .lefth2 {
      font-size: 2.5rem;
      span {
        color: $color1;
      }
    }

    h1 {
      font-size: 3.5rem;
      span {
        color: $color1;
      }
    }

    .companyp {
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.2rem;
    }

    .buttoncontent {
      justify-content: start;
      @include flexer(row);
      gap: 1rem;

      .btn{
        button{
          border: none;
          outline: none;
          background-color: $color1;
        }
      }
    }

    .customer {
      @include flexer(row);
      color: $color3;
      gap: 1rem;

      .icon {
        height: 50px;
        width: 50px;
        background: $color2;
        border-radius: 100px;
        @include flexer();
      }

      .headericon {
        font-size: 2rem;
        color: $color1;
      }
    }
  }

  .right {
    width: 30vw;
  }
}
