@import "./utils";

.home {
  background: $color2;

  .left {
    .customer {
      color: $color3;
      gap: 1rem;

      .icon {
        height: 50px;
        width: 50px;
        background: $bg;
        border-radius: 100px;
        @include flexer();
      }

      .headericon {
        font-size: 2rem;
        color: $color1;
      }
    }
  }

  .right{
    .arrow{
        gap: 1rem;
        height: 50px;
        width: 50px;
        background: rgba(0, 0, 0, 0.306);
    }
  }
}
