@import "./utils";

.home {
  @include flexer(center, center);
  padding: 0rem 2.5rem;
  background-image: url("../Images/welderbg.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  flex-direction: row;

  .left {
    width: 80vw;
    @include flexer(column, center, flex-start);
    gap: 1.5rem;
    height: fit-content;

    .lefth2 {
      font-size: 2.5rem;
      font-family: $fonts;
      span {
        color: $color1;
      }
    }

    h1 {
      font-size: 3.5rem;
      font-family: $ubuntu;
      span {
        color: $color1;
      }
    }

    .companyp {
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.2rem;
      font-family: $fonts;
    }

    .customer {
      @include flexer();
      gap: 1rem;

      .icon {
        gap: 1rem;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color1lg;
        color: $color1;
        border-radius: 50px;
        width: 50px;

        .headericon {
          font-size: 1.8rem;
        }
      }

      .content {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  .right {
    display: flex;
    width: 20vw;
    height: fit-content;

    img {
      height: 20vh;
      object-fit: cover;
      width: 15vw;
    }
  }

  .bgimg {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// @media screen and (max-width: 999px) {
//   .home {
//     height: fit-content;
//     padding: 3rem 1rem;
//     width: 100%;
//     flex-direction: column;
//     .left {
//       text-align: start;
//       width: 100%;
//     }
//     .right {
//       width: 100%;
//       height: fit-content;

//       .img {
//         width: 50%;
//       }
//     }
//   }
// }

@media screen and (max-width: 500px) {
  .home {
    padding: 1rem;
    @include flexer(column);
    height: fit-content;

    .left {
      width: 95%;
      padding: 0;
      height: fit-content;
      margin-bottom: 1rem;

      .lefth2 {
        font-size: 1.8rem;
      }

      h1 {
        font-size: 2.5rem;
      }
    }
    // .right {
    //   width: 95%;
    //   padding: 0;
    //   height: fit-content;
    // }
  }
}

//tilt left
.tiltleft {
  -webkit-animation: tilt-in-left-1 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-left-1 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-left-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

//bounce left
.bounceleft {
  -webkit-animation: bounce-in-left 1.3s both;
  animation: bounce-in-left 1.3s both;
}

@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

//slide left
.slideleft {
  -webkit-animation: slide-in-fwd-left 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-fwd-left 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
