@import "./utils";

.productdetail{
    @include flexer(center);
    // height: 40vh;
    height: fit-content;
    width: 300px;
    background: gray;
    
    .box{
        height: 40vh;
        margin: 2rem 0;
        img{
            height:28vh;
            object-fit: cover;
            width: 300px;
        }
        
        .content{
            height: 12vh;
            padding: 1rem 0.5rem;
        }
    }
}