@import "./utils";      

.product{
    height: fit-content;
    width: 100%;
    padding: 2rem;
    
    h2{
        margin: 0.5rem 0 1rem 0;
        text-align: center;
        font-size: 2.5rem;
        font-family: $ubuntu;
    }
    
    .productdet{
        @include flexer(row);
        margin: 2rem auto;
        gap: 3rem;
        flex-wrap: wrap;
    }
}