@import "./utils";

.quotation {
  @include flexer(row, space-between);
  width: 60%;
  background-color: gray;
  height: fit-content;
  padding: 2.5rem 1rem;
  margin: 0 auto;
  border-radius: 15px;

  .left {
    width: 50%;
    justify-content: center;

    h2 {
      font-size: 2.5rem;
      color: $color3;
    }
  }

  .right {
    padding: 0 0.5rem;
    width: 50%;
    @include flexer(row, space-between);
    gap: 1rem;

    .icon {
      @include flexer();
      gap: 1rem;

      .lright {
        font-size: 2rem;
        color: $color1;
      }

      .rright {
        p {
          color: $color3;
          font-size: 1.4rem;
        }
      }
    }
  }
}
