@import "./utils";

.quotation {
  @include flexer(row, space-between);
  width: 50%;
  background-color: gray;
  height: fit-content;
  padding: 1rem;
  border-radius: 15px;

  .left {
    width: 50%;
    justify-content: center;

    h2 {
      font-size: 2.5rem;
      color: #fff;
    }
  }

  .right{
    padding: 0 .5rem;
    width: 50%;
    @include flexer(row, space-between);
    gap: 1rem;

    .icon{
        @include flexer();
        gap: 1rem;

        .lright{
            font-size: 2rem;
            color: $color1;
        }
    }
  }
}
