@import "./utils";

.quotation {
  @include flexer(row, space-between);
  width: 50%;
  background-color: red;
  height: fit-content;
  padding: 1rem;
  border-radius: 15px;

  .left {
    width: 50%;
    justify-content: center;

    h2 {
      font-size: 2.5rem;
      color: #fff;
    }
  }
}
